---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
    <p>
      <span style="margin-right: 10px">
        {% for category in post.categories %}
        <a href="{{ site.baseurl }}/categories/{{ category }}" title="{{ category }}" style="margin-left: auto; margin-right: 0">
          <i class="fa fa-folder-open-o" aria-hidden="true" style="font-size: 16px"></i>
          {{ category }}</a>
        {% endfor %}
      </span>
      <span>
        {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag }}" title="{{ tag }}"
               class="tag tag-{{ tag }}">#{{ tag }}</a>
        {% endfor %}
      </span>
    </p>
    <hr>
  </div>
  {% endfor %}
</div>

{% include pagination.html %}
