<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div style="margin: 0 auto; width: 190px;">
      <a href="mailto:closer527@gmail.com" style="margin-right: 7px; font-size: 24px;">
        <i class="fa fa-envelope-square" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/closer27" target="_blank" style="margin: 0 7px; font-size: 24px;">
        <i class="fa fa-github-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/closer27" target="_blank" style="margin: 0 7px; font-size: 24px;">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.facebook.com/closer27" target="_blank" style="margin: 0 7px; font-size: 24px;">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="https://500px.com/closer27" target="_blank" style="margin: 0 7px; font-size: 24px;">
        <i class="fa fa-500px" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
